.square {
    box-sizing: border-box;
    border: 1px solid black;
    width: 6.25%;
    aspect-ratio: 1;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    margin-bottom: -5px;
}

div.container {
    width: 960px;
}

button#black-only {
    background-color: green;
}
button#full-opacity {
    background-color: green;
}